*{
    margin: 0;
}
.card{
    box-shadow: 0px 0px 5px #00000083 ;
    width: 90vw;
    max-width: 800px;
    height: 10em;
    margin: 5vw auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}
.thum{
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.detail{
    width: 80%;
}
.card-detail-top{
padding: 4%;
}
.card-detail-but{
    padding: 4.5%;
    display: flex;
    align-items: center;

}
.card-btn{
    background: #000;
    border: none;
    color: white;
    padding : 10px ;
    border-radius: 5px;
    margin-left: 5rem;
}
.card-cat ,
.card-status{
    margin-left: 5rem;

}