*{
    margin: 0;
}
.card{
    width: 90vw;
    max-width: 800px;
    height: 10em;
    margin: 5vw auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}
.thum{
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.detail{
    background: #00F;
    width: 80%;
}
.card-detail-top{
    background: #F00;
    display: flex;
    padding: 5%;
    justify-content: space-between;
}
.card-detail-but{
    padding: 4.5%;
    display: flex;
    align-items: center;
    background: #0F0;
    /* height: 10%; */

}